// =============================================================================
// Variables
// =============================================================================

//Colours
$purple:          #C21B91;
$gold:            #FDA700;
$blue:            #00B2CA;
$grey:            #6b6b6b;
$green:           #9abf7f;
$darkgreen:       #00aa5c;
$red:     			  #b8242c;
$light_green:     #39b54a;
$orange:  			  #f04e3e;
$blue:    			  #1a76ab;
$white:   			  #ffffff;
$black:           #363636;
