@charset "utf-8";

// =============================================================================
// 01. Includes
// 02. Fonts
// 03. Main Style
// 04. Header
// 05. Find your ideal
// 06. Form
// 07. Footer
// 08. Responsive
// =============================================================================


// =============================================================================
// 01. Includes
// =============================================================================

@import "clean";
@import "variables";
@import "animations";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lato';

// =============================================================================
// 02. Fonts
// =============================================================================

@font-face {
  font-family: 'edusales';
  src:  url('../fonts/edusales.eot?fucqcg');
  src:  url('../fonts/edusales.eot?fucqcg#iefix') format('embedded-opentype'),
    url('../fonts/edusales.ttf?fucqcg') format('truetype'),
    url('../fonts/edusales.woff?fucqcg') format('woff'),
    url('../fonts/edusales.svg?fucqcg#edusales') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edusales' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-affordable:before {
  content: "\e900";
}
.icon-coaching:before {
  content: "\e901";
}
.icon-online:before {
  content: "\e902";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}

// =============================================================================
// 03. Main Style
// =============================================================================

//Wrapper background | Max width container
.wrapper {
	background: #ba1f1c;
  background: -moz-linear-gradient(left,  #ba1f1c 0%, #de4a2f 100%, #de4a2f 100%);
  background: -webkit-linear-gradient(left,  #ba1f1c 0%,#de4a2f 100%,#de4a2f 100%);
  background: linear-gradient(to right,  #ba1f1c 0%,#de4a2f 100%,#de4a2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba1f1c', endColorstr='#de4a2f',GradientType=1 );
	max-width: 1366px;
	margin: 0 auto;
}
//Padding main containers
header#header,
section#section {
	padding-left: 40px;
	padding-right: 40px;
}

// =============================================================================
// 04. Header
// =============================================================================

header {
	padding-top: 55px;
	.top_header {
		background: $red;
		padding: 35px;
		display: flex;
		display: -ms-flexbox;
		.top_left {
			width: 50%;
			a {
				display: inline-block;
			}
		}
		.top_right {
			width: 50%;
			text-align: right;
			.tel {
				font-size: 36px;

			}
		}
	}
	.banner_top {
		background-image: url(../img/back-header.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 500px;
		position:relative;
		h1 {
			position: absolute;
			top: 20%;
			left: 35px;
			font-size: 44px;
		}
		h2 {
			position: absolute;
			bottom: 20%;
			left: 35px;
			font-size: 34px;
			font-weight: 100;
      line-height: 50px;
		}
	}
}

// =============================================================================
// 05. Find your ideal
// =============================================================================

.find_your_ideal {
  background: $white;
  display: flex;
  display: -ms-flexbox;
  padding: 20px 0;
  position: relative;
  .bk_left {
    background-image: url(../img/back-form-left.jpg);
  	background-repeat: no-repeat;
  	background-position: top right;
    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    opacity: 0.3;
  }
  .bk_right {
    background-image: url(../img/back-form-right.jpg);
  	background-repeat: no-repeat;
  	background-position: top left;
    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    opacity: 0.3;
  }
}

// =============================================================================
// 06. Form
// =============================================================================

.blk_form {
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  //Display none contents and appear only there is a click on radio buttons
  .blk_want_improve,
  .blk_want_to,
  .blk_main_form,
  .msg_contact {
    display: none;
  }
  .blk_main_form {
    font-size: 26px;
    padding: 10px 20px;
    font-weight: 400;
    h3 {
      font-size: 36px;
      color: $red;
    }
    .ideal_for_you {
      display: flex;
      display: -ms-flexbox;
      margin: 40px 0;
      font-size: 26px;
      h4 {
        width: 17%;
        font-weight: 400;
      }
      .blk_diplomas {
        display: block;
        width: 83%;
      }
    }
  }
  h2 {
    color: $red;
  }
  #formstore {
  	font-size: 16px;
    color: $orange;
  	input[type=text]{
  		width: 100%;
  		padding: 10px;
      margin-bottom: 30px;
      border: 0;
  		border-bottom: 1px solid $orange;
  		background: none;
  		display: block;-webkit-transition: all 0.30s ease-in-out;
  	  -moz-transition: all 0.30s ease-in-out;
  	  -ms-transition: all 0.30s ease-in-out;
  	  -o-transition: all 0.30s ease-in-out;
  	  outline: none;
  	}
  	input[type=text]:focus {
      border: 0;
  		border-bottom: 1px solid $orange;
  	}
  	input[type=text].hightlight {
      border: 0;
  		border-bottom: 2px solid $red;
  	}
    .blk-submit {
      margin-top: 40px;
      .ipt-submit {
    		position: relative;
    		display: inline-block;
    		input[type=submit] {
          background: $orange;
          color: $white;
          border: 0;
          font-size: 30px;
          border-radius: 7px;
          padding: 12px 20px;
    			display: inline-block;
    	    cursor: pointer;
    	    outline: 0;
    		}
    		.spa-loader {
    	    border-radius: 7px;
    	    position: absolute;
    	    top: 0;
    	    right: 0;
    	    width: 100%;
    	    height: 100%;
    	    display: none;
    	    z-index: 1;
          background: $red;
    	  }
    		.spa-loader-open {
    		  display: block;
    		}
      }
    }
    .hidden-ipt {
      #submit {
        visibility: hidden;
      }
    }
  	#diploma_pm,
  	#diploma_business,
  	#diploma_marketing,
  	#diploma_ls_man {
  		display: none;
  	}
    .check_accept {
      display: block;
      margin-top: 50px;
      ul {
      	list-style: none;
      	padding: 0;
      	margin: 0;
      	max-width: inherit;
        text-align: left;
        li {
        	margin: 0 auto;
        	padding: 0;
        	position: relative;
          label {
          	display: flex;
          	position: relative;
          	font-size: 1em;
            font-weight: 100;
          	padding: 0 0 0 63px;
            background: none;
          	vertical-align: top;
            color: $orange;
          	cursor: pointer;
          	-webkit-transition: color 0.3s;
          	transition: color 0.3s;
          }
          input[type="checkbox"],
          input[type="radio"],
          label::before {
          	width: 50px;
          	height: 50px;
          	top: 50%;
          	left: 0;
          	margin-top: -25px;
          	position: absolute;
          	cursor: pointer;
          }
          input[type="checkbox"],
          input[type="radio"] {
          	opacity: 0;
          	-webkit-appearance: none;
          	display: inline-block;
          	vertical-align: middle;
          	z-index: 100;
            pointer-events: none;
          }
          .ac-radio {
            label::before {
          	   border-radius: 50%;
            }
          }
          input[type="checkbox"]:checked + label,
          input[type="radio"]:checked + label {
          	color: $orange;
          }
          input[type="checkbox"]:checked + label::before,
          input[type="radio"]:checked + label::before {
          	opacity: 0.8;
          }
          /* General SVG and path styles */

          svg {
          	position: absolute;
          	width: 40px;
          	height: 40px;
          	top: 50%;
          	margin-top: -20px;
          	left: 5px;
          	pointer-events: none;
          }
          svg path {
          	stroke: $orange;
          	stroke-width: 13px;
          	stroke-linecap: round;
          	stroke-linejoin: round;
          	fill: none;
          }
        }
        label::before {
        	content: '';
        	border: 4px solid #b8242c;
        	-webkit-transition: opacity 0.3s;
        	transition: opacity 0.3s;
        }
      }
    }
    .msg_contact {
      text-align: center;
      h2 {
        font-size: 50px;
        margin: 25px 0;
        padding: 50px;
        font-weight: 100;
      }
    }
    .progressive_bar {
      max-width: 65%;
      margin: 0 auto;
      .line {
        position: relative;
        overflow: hidden;
        height: 4px;
        background: $darkgreen;
        .progress {
          height: 4px;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: $red;
        }
        .nearly33 {
          position: absolute;
          top: 0;
          left: 33.33333%;
        }
        .nearly66 {
          position: absolute;
          top: 0;
          left: 66.66666%;
        }
        .nearly100 {
          position: absolute;
          top: 0;
          left: 100%;
        }
      }
      ol {
        text-align: center;
        margin: 0;
        padding: 25px 0 0 0;
        display: inline-flex;
        width: 100%;
        li {
          list-style: none;
          font-size: 20px;
          display: block;
          font-weight: 400;
          width: 33.33333%;
          border: 0;
          color: $red;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
        .active {
          color: $darkgreen;
        }
      }
    }
  }
  .ac-custom {
  	padding: 0 3em;
  	margin: 0 auto;
    h2.title_steps {
    	font-size: 3.6em;
    	margin:0 auto;
      max-width: 65%;
      text-align: center;
    }
    ul {
    	list-style: none;
    	padding: 10px;
    	margin: 10px auto;
    	max-width: 55%;
      text-align: center;
      li {
      	margin: 0 auto;
      	padding: 0.7em 0;
      	position: relative;
        label {
        	display: flex;
        	position: relative;
        	font-size: 1.5em;
          font-weight: 100;
          text-align: left;
        	padding: 22px 63px 22px 18px;
          border-radius: 7px;
        	vertical-align: top;
        	background: #b8242c;
          color: $white;
        	cursor: pointer;
        	-webkit-transition: color 0.3s;
        	transition: color 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
        label:hover {
          background: $orange;
        }
        input[type="checkbox"],
        input[type="radio"],
        label::before {
        	width: 50px;
        	height: 50px;
        	top: 50%;
        	right: 0;
        	margin-top: -25px;
        	position: absolute;
        	cursor: pointer;
        }
        input[type="checkbox"],
        input[type="radio"] {
        	opacity: 0;
        	-webkit-appearance: none;
        	display: inline-block;
        	vertical-align: middle;
        	z-index: 100;
          pointer-events: none;
        }
      }
      label::before {
      	content: '';
      	/*border: 4px solid #b8242c;*/
      	-webkit-transition: opacity 0.3s;
      	transition: opacity 0.3s;
      }
    }
  }
  .ac-radio {
    label::before {
  	   border-radius: 50%;
    }
  }
  .ac-custom input[type="checkbox"]:checked + label,
  .ac-custom input[type="radio"]:checked + label {
  	color: $white;
    background: $orange;
  }
  .ac-custom input[type="checkbox"]:checked + label::before,
  .ac-custom input[type="radio"]:checked + label::before {
  	opacity: 0.8;
  }
  /* General SVG and path styles */

  .ac-custom svg {
  	position: absolute;
  	width: 40px;
  	height: 40px;
  	top: 50%;
  	margin-top: -20px;
  	right: 16px;
  	pointer-events: none;
  }
  .ac-custom svg path {
  	stroke: $white;
  	stroke-width: 13px;
  	stroke-linecap: round;
  	stroke-linejoin: round;
  	fill: none;
  }

  /* Specific input, SVG and path styles */

  /* Circle */
  .ac-circle input[type="checkbox"],
  .ac-circle input[type="radio"],
  .ac-circle label::before {
  	width: 30px;
  	height: 30px;
  	margin-top: -15px;
  	left: 10px;
  	position: absolute;
  }
  .ac-circle label::before {
  	background-color: #fff;
  	border: none;
  }
  .ac-circle svg {
  	width: 70px;
  	height: 70px;
  	margin-top: -35px;
  	left: -10px;
  }
  .ac-circle svg path {
  	stroke-width: 5px;
  }

  /* Box Fill */
  .ac-boxfill svg path {
  	stroke-width: 8px;
  }
  /* Swirl */
  .ac-swirl svg path {
  	stroke-width: 8px;
  }
  .ac-list label::before {
  	display: none;
  }
  .ac-list svg {
  	width: 100%;
  	height: 80px;
  	left: 15px;
  	top: 1.2em;
  	margin-top: 0px;
  }
  .ac-list svg path {
  	stroke-width: 4px;
  }

  /* Media Queries */
  @media screen and (max-width: 50em) {
  	section {
  		font-size: 80%;
  	}
  }
}

// =============================================================================
// 07. Opportunities Endless
// =============================================================================

.banner_footer {
	background-image: url(../img/back-professional.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	position:relative;
	h2 {
		position: absolute;
		top: 10%;
		right: 35px;
		font-size: 42px;
		text-align: right;
    font-weight: 100;
    width: 50%;
    span {
      font-weight: 900;
    }
	}
	a {
		position: absolute;
		top: 35%;
		right: 35px;
		font-size: 36px;
		font-weight: 100;
	}
}

// =============================================================================
// 07. Opportunities Endless
// =============================================================================

.blk_opportunities {
		padding: 60px 20px;
		text-align: center;
		h2 {
			font-size: 40px;
		  font-weight: 100;
			margin-bottom: 30px;
			span {
				font-weight: 700;
			}
		}
		.blk_icons {
			span {
				font-size: 140px;
				margin-bottom: 20px;
				display: block;
			}
			h3 {
				font-size: 32px;
				font-weight: 700;
				margin: 0;
			}
			p {
				font-size: 20px;
				margin: 0;
			}
		}
}

// =============================================================================
// 07. Footer
// =============================================================================

footer {
	background-color: $red;
	.bottom_footer {
		padding: 40px;
		display: flex;
		display: -ms-flexbox;
    width: 100%;
		.blk_footer_entamio {
      width: 30%;
		}
		.blk_footer_content {
      width: 30%;
			font-size: 18px;
			font-weight: 400;
			p {
				margin: 0;
			}
		}
		.blk_footer_icon {
      width: 25%;
      text-align: right;
			a {
				display: inline-block;
				margin: 0 6px;
				span{
					font-size: 38px;
				}
			}
		}
		.blk_footer_nrt {
      width: 15%;
      .logo_nrt {
        display: block;
        text-align: right;
      }
		}
	}
	.back_white {
		background: $white;
		color: $orange;
		.col-sm-12 {
			display: flex;
			display: -ms-flexbox;
		}
		h4 {
			font-size: 18px;
			font-weight: 400;
		}
		.left_copy {
			width: 50%;
			padding: 30px 40px;

		}
		.right_copy{
			width: 50%;
			padding: 30px 40px;
			text-align: right;
		}
	}
}

// =============================================================================
// 08. Responsive
// =============================================================================

@media only screen and (max-width: 1200px) {



}

@media only screen and (max-width: 992px) {

  .blk_form {
    padding: 20px 10px;
    .ac-custom {
      padding: 0;
      h2.title_steps{
        max-width: inherit;
        font-size: 2.3em;
      }
      ul {
        max-width: inherit;
        li {
          label {
            font-size: 1.3em;
          }
        }
      }
    }
    #formstore {
      .progressive_bar {
        max-width: inherit;
        ol {
          li{
            font-weight: 100;
            font-size: 14px;
          }
        }
      }
      .check_accept {
        ul {
          li {
            label {
              font-size: 0.7em;
            }
          }
        }
      }
      .blk_main_form {
        .ideal_for_you {
          width: 100%;
          display: block;
          h4 {
            width: 100%;
          }
          .blk_diplomas {
            width: 100%;
            font-size: 20px;
          }
        }
      }
      .msg_contact {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  footer .bottom_footer {
    display: block;
    .blk_footer_entamio,
    .blk_footer_content,
    .blk_footer_icon,
    .blk_footer_nrt {
      width: 100%;
      margin: 25px 0;
      padding: 0;
      text-align: center;
      display: block;
    }
    .blk_footer_nrt {
      a {
        text-align: center;
      }
    }
  }

}

@media only screen and (max-width: 767px) {

  header {
    padding-top: 15px;
    .banner_top {
      background-position: -500px 0;
      h1 {
        font-size: 26px;
        top: 15%;
      }
      h2 {
        line-height: inherit;
        font-size: 18px;
        top: 35%;
      }
    }
  }
  header#header, section#section {
    padding-left: 0;
    padding-right: 0;
  }
  header .top_header {
    display: block;
    .top_left,
    .top_right {
      width: 100%;
      display: block;
    }
    .top_right {
      margin-top: 20px;
      text-align: left;
    }
  }
  .banner_footer {
    background-position: -300px 0;
    h2 {
      top: 8%;
      right: 20px;
      font-size: 25px;
      width: 75%;
    }
  }
  .blk_form {
    padding: 20px 10px;
    .ac-custom {
      padding: 0;
      h2.title_steps{
        max-width: inherit;
        font-size: 2.1em;
      }
      ul {
        max-width: inherit;
        li {
          label {
            font-size: 1em;
          }
        }
      }
    }
    #formstore {
      .progressive_bar {
        max-width: inherit;
        ol {
          li{
            font-weight: 100;
            font-size: 14px;
          }
        }
      }
      .check_accept {
        ul {
          li {
            label {
              font-size: 0.7em;
            }
          }
        }
      }
      .blk_main_form {
        .ideal_for_you {
          width: 100%;
          display: block;
          h4 {
            width: 100%;
          }
          .blk_diplomas {
            width: 100%;
            font-size: 20px;
          }
        }
      }
      .msg_contact {
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .blk_opportunities {
    .blk_icons {
      span {
        font-size: 120px;
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }
  footer {
    .back_white{
      .col-sm-12 {
       display: block;
       .left_copy,
       .right_copy {
         text-align: left;
         width: 100%;
         padding: 15px 20px;
       }
     }
   }
  }


}

@media only screen and (max-width: 320px) {


}
