@charset "utf-8";

// =============================================================================
// 01. Includes
// 02. Fonts
// 03. Main Style
// 04. Header
// 05. Find your ideal
// 06. Form
// 07. Footer
// 08. Responsive
// =============================================================================


// =============================================================================
// 01. Includes
// =============================================================================

@import "clean";
@import "variables";
@import "animations";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lato';

// =============================================================================
// 02. Fonts
// =============================================================================

@font-face {
  font-family: 'edusales';
  src:  url('../fonts/edusales.eot?fucqcg');
  src:  url('../fonts/edusales.eot?fucqcg#iefix') format('embedded-opentype'),
    url('../fonts/edusales.ttf?fucqcg') format('truetype'),
    url('../fonts/edusales.woff?fucqcg') format('woff'),
    url('../fonts/edusales.svg?fucqcg#edusales') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edusales' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-affordable:before {
  content: "\e900";
}
.icon-coaching:before {
  content: "\e901";
}
.icon-online:before {
  content: "\e902";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}

// =============================================================================
// 03. Main Style
// =============================================================================

//Wrapper background | Max width container
.wrapper {
	background: #ba1f1c;
  background: -moz-linear-gradient(left,  #ba1f1c 0%, #de4a2f 100%, #de4a2f 100%);
  background: -webkit-linear-gradient(left,  #ba1f1c 0%,#de4a2f 100%,#de4a2f 100%);
  background: linear-gradient(to right,  #ba1f1c 0%,#de4a2f 100%,#de4a2f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba1f1c', endColorstr='#de4a2f',GradientType=1 );
	max-width: 1366px;
	margin: 0 auto;
}
//Padding main containers
header#header,
section#section {
	padding-left: 40px;
	padding-right: 40px;
}

// =============================================================================
// 04. Header
// =============================================================================

header {
	padding-top: 55px;
	.top_header {
		background: $red;
		padding: 35px;
		display: flex;
		display: -ms-flexbox;
		.top_left {
			width: 50%;
			a {
				display: inline-block;
			}
		}
		.top_right {
			width: 50%;
			text-align: right;
			.tel {
				font-size: 36px;

			}
		}
	}
	.banner_top {
		background-image: url(../img/back-header.jpg);
		background-repeat: no-repeat;
		background-position: top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 500px;
		position:relative;
		h1 {
			position: absolute;
			top: 20%;
			left: 35px;
			font-size: 44px;
		}
		h2 {
			position: absolute;
			bottom: 20%;
			left: 35px;
			font-size: 34px;
			font-weight: 100;
		}
	}
}

// =============================================================================
// 05. Find your ideal
// =============================================================================

.find_your_ideal {
  background: $white;
  display: flex;
  display: -ms-flexbox;
  padding: 20px 0;
  position: relative;
  .bk_left {
    background-image: url(../img/back-form-left.jpg);
  	background-repeat: no-repeat;
  	background-position: top right;
    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    opacity: 0.3;
  }
  .bk_right {
    background-image: url(../img/back-form-right.jpg);
  	background-repeat: no-repeat;
  	background-position: top left;
    -webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    opacity: 0.3;
  }
}

// =============================================================================
// 06. Form
// =============================================================================

.blk_form {
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  //Style contents
  .blk_most_enjoy,
  .blk_want_improve,
  .blk_want_to {
    text-align: center;
  }
  //Display none contents and appear only there is a click on radio buttons
  .blk_want_improve,
  .blk_want_to,
  .blk_main_form,
  .msg_contact {
    display: none;
  }
  .blk_main_form {
    font-size: 30px;
    padding: 10px 20px;
    font-weight: 400;
    .ideal_for_you {
      display: flex;
      display: -ms-flexbox;
      margin: 40px 0;
      h4 {
        width: 17%;
        font-weight: 400;
      }
      .blk_diplomas {
        display: block;
        width: 83%;
      }
    }
  }
  h2 {
    color: $red;
  }
  #formstore {
  	font-size: 16px;
    color: $orange;
    legend {
      display: block;
      width: 100%;
      font-size: 62px;
      font-weight: 900;
      margin: 35px 0;
    }
    .radio {
      display: flex;
      display: -ms-flexbox;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 30px;
      font-weight: 400;
      line-height: 48px;
      cursor: pointer;
      margin-bottom: 35px;
    }
    .radio:hover .inner {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    .radio input {
      width: 1px;
      height: 1px;
      opacity: 0;
    }
    .radio input:focus + .outer .inner {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      background-color: $orange;
    }
    .radio .outer {
      display: block;
      margin: 10px 15px 10px 10px;
      padding: 3px;
      border: 1px solid $orange;
      border-radius: 50%;
      background-color: $white;
    }
    .radio .inner {
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      width: 16px;
      height: 16px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      display: block;
      margin: 2px;
      border-radius: 50%;
      background-color: $orange;
      opacity: 0;
    }
  	input[type=text]{
  		width: 100%;
  		padding: 10px;
      margin-bottom: 30px;
      border: 0;
  		border-bottom: 1px solid $orange;
  		background: none;
  		display: block;-webkit-transition: all 0.30s ease-in-out;
  	  -moz-transition: all 0.30s ease-in-out;
  	  -ms-transition: all 0.30s ease-in-out;
  	  -o-transition: all 0.30s ease-in-out;
  	  outline: none;
  	}
  	input[type=text]:focus {
      border: 0;
  		border-bottom: 1px solid $orange;
  	}
  	input[type=text].hightlight {
      border: 0;
  		border-bottom: 2px solid $red;
  	}
    .ipt-submit {
  		position: relative;
  		display: inline-block;
  		input[type=submit] {
        background: none;
        color: $red;
        border: 0;
  			border-bottom: 1px solid $red;
        font-size: 36px;
  			display: inline-block;
  	    cursor: pointer;
  	    outline: 0;
  		}
  		.spa-loader {
  	    border-radius: 6px;
  	    position: absolute;
  	    top: 0;
  	    right: 0;
  	    width: 100%;
  	    height: 100%;
  	    display: none;
  	    z-index: 1;
  	  }
  		.spa-loader-open {
  		  display: block;
  		}
    }
    .hidden-ipt {
      #submit {
        visibility: hidden;
      }
    }
  	#diploma_pm,
  	#diploma_business,
  	#diploma_marketing,
  	#diploma_ls_man {
  		display: none;
  	}
    .check_accept {
      display: flex;
      display: -ms-flexbox;
      margin-top: 50px;
      .ip_check {
        display: flex;
        display: -ms-flexbox;
        font-size: 20px;
        cursor: pointer;
        margin-right: 25px;
      }
      .ip_check:hover .inner {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
      .ip_check input {
        width: 1px;
        height: 1px;
        opacity: 0;
      }
      .ip_check input:checked + .outer {
          border: 1px solid $orange;
      }
      .ip_check input:checked + .outer .inner {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          opacity: 1;
      }
      .ip_check input:focus + .outer .inner {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        background-color: $orange;
      }
      .ip_check .outer {
        display: block;
        margin: 10px 15px 10px 0;
        padding: 3px;
        border: 1px solid $orange;
        border-radius: 50%;
        background-color: $white;
      }
      .ip_check .inner {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        width: 16px;
        height: 16px;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        display: block;
        margin: 2px;
        border-radius: 50%;
        background-color: $orange;
        opacity: 0;
      }
      #accept {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
      }
    }
    .msg_contact {
      text-align: center;
      h2 {
        font-size: 50px;
        margin: 25px 0;
        padding: 50px;
      }
    }
  }
}

// =============================================================================
// 07. Opportunities Endless
// =============================================================================

.banner_footer {
	background-image: url(../img/back-professional.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	position:relative;
	h2 {
		position: absolute;
		top: 10%;
		right: 35px;
		font-size: 44px;
		text-align: right;
	}
	a {
		position: absolute;
		top: 35%;
		right: 35px;
		font-size: 36px;
		font-weight: 100;
	}
}

// =============================================================================
// 07. Opportunities Endless
// =============================================================================

.blk_opportunities {
		padding: 60px 20px;
		text-align: center;
		h2 {
			font-size: 40px;
		  font-weight: 100;
			margin-bottom: 30px;
			span {
				font-weight: 700;
			}
		}
		.blk_icons {
			span {
				font-size: 140px;
				margin-bottom: 20px;
				display: block;
			}
			h3 {
				font-size: 32px;
				font-weight: 700;
				margin: 0;
			}
			p {
				font-size: 20px;
				margin: 0;
			}
		}
}

// =============================================================================
// 07. Footer
// =============================================================================

footer {
	background-color: $red;
	.bottom_footer {
		padding: 40px;
		display: flex;
		display: -ms-flexbox;
		.blk_footer_entamio {

		}
		.blk_footer_content {
			font-size: 18px;
			font-weight: 400;
			padding: 0 10px 0 20px;
			p {
				margin: 0;
			}
		}
		.blk_footer_icon {
			padding: 0 20px 0 10px;
			a {
				display: inline-block;
				margin: 0 7px;
				span{
					font-size: 42px;
				}
			}
		}
		.blk_footer_nrt {

		}
	}
	.back_white {
		background: $white;
		color: $orange;
		.col-sm-12 {
			display: flex;
			display: -ms-flexbox;
		}
		h4 {
			font-size: 18px;
			font-weight: 400;
		}
		.left_copy {
			width: 50%;
			padding: 30px 40px;

		}
		.right_copy{
			width: 50%;
			padding: 30px 40px;
			text-align: right;
		}
	}
}

// =============================================================================
// 08. Responsive
// =============================================================================

@media only screen and (max-width: 1200px) {



}

@media only screen and (max-width: 992px) {



}

@media only screen and (max-width: 767px) {



}

@media only screen and (max-width: 320px) {


}
